{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Detail</title>
    <meta charset="UTF-8" />
    <script type="text/javascript">
      function update_picture(value) {
        let element = document.querySelector("#image");
        element.src = value;
      }
    </script>
  </head>
  <body>
    <div id="header">
      <img width="200" src="{% static 'teamapp/img/logo.png' %}" alt="Logo" />
    </div>
    <h1>Eat ログ</h1>
    <h2>Title: {{ article.title }}</h2>
    <div>
      <img width="200" src="{{ article.picture }}" />
    </div>
    <small>Posted at:{{ article.posted_at }}</small>
    <div>{{ article.body | linebreaksbr }}</div>

    <h2>コメント</h2>

    {% if comments %} {% for comment in comments %}
    <div class="text">
      <small>[{{ comment.posted_at }}]</small>
      <div>{{ comment.text | linebreaksbr }}</div>
      <img width="100" src="{{ comment.picture }}" />
    </div>
    {% endfor %} {% else %}
    <p>コメントはありません</p>
    {% endif %}

    <hr />
    <form action="{% url 'detail' article.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="textInput">テキスト</label><br />
        <textarea id="textInput" name="text" rows="3"></textarea>
        <div>
          <label for="textInput">画像</label>
          <input
            id="imgInput"
            name="picture"
            type="url"
            placeholder="Input imageURL"
            value="{{ comment.picture }}"
            onchange="update_picture(this.value)"
          />
          <div>
            <img id="image" width="100" src="{{ comment.picture }}" />
          </div>
        </div>
      </div>
      <div>
        <button type="submit">提出</button>
      </div>
    </form>
    <hr />
    <p>
      <a href="{% url 'index' %}">Top</a>
      <a href="{% url 'update' article.id %}">Edit</a>
      <a href="{% url 'delete' article.id %}">Delete</a>
    </p>
  </body>
</html>
