<!DOCTYPE html>
<html>
  <head>
    <title>Edit</title>
    <meta charset="UTF-8" />
    <script type="text/javascript">
      function update_picture(value) {
        let element = document.querySelector("#image");
        element.src = value;
      }
    </script>
  </head>
  <body>
    <h1>記事を編集する</h1>
    <form action="{% url 'update' article.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label>
        <input
          id="titleInput"
          name="title"
          type="text"
          placeholder="Input title"
          value="{{ article.title }}"
        />
      </div>
      <div>
        <label for="textInput">テキスト</label>
        <textarea id="textInput" name="text" rows="3">
 {{ article.body }}</textarea
        >
      </div>
      <div>
        <label for="textInput">画像</label>
        <input
          id="imgInput"
          name="picture"
          type="url"
          placeholder="Input imageURL"
          value="{{ article.picture }}"
          onchange="update_picture(this.value)"
        />
        <div>
          <img id="image" width="200" src="{{ article.picture }}" />
        </div>
      </div>
      <div>
        <button type="submit">提出</button>
      </div>
    </form>
  </body>
</html>
