{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="{% static 'teamapp/css/default.css' %}" rel="stylesheet" />
    <script type="text/javascript">
      function update_picture(value) {
        let element = document.querySelector("#image");
        element.src = value;
      }
    </script>
  </head>
  <body>
    <div id="header">
      <img width="200" src="{% static 'teamapp/img/logo.png' %}" alt="Logo" />
    </div>
    <h1>Eat ログ</h1>
    <div>
      <a href="{% url 'index' %}?sort=date">日付順</a> |
      <a href="{% url 'index' %}?sort=like">♡が多い順</a>
    </div>
    {% if articles %} {% for article in articles %}
    <div class="text">
      <h2><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h2>
      <div>
        <img width="200" src="{{article.picture}}" />
      </div>
      <small>[{{ article.posted_at }}]</small>
      <div>
        <a onclick="like({{article.id}});">
          <button type="submit">
            ♡:<span id="like{{article.id}}">{{article.like}}</span>
          </button>
        </a>
      </div>
      <div>{{ article.body | linebreaksbr }}</div>
    </div>
    {% endfor %} {% else %}
    <p>記事はありません</p>
    {% endif %}
    <br />
    <hr />
    <p>以下のフォームから記事を送信できます。</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br />
        <input
          id="titleInput"
          name="title"
          type="text"
          placeholder="Input title"
        />
      </div>
      <div>
        <label for="textInput">テキスト</label><br />
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <label for="textInput">画像</label><br />
        <input
          id="imgInput"
          name="picture"
          type="url"
          placeholder="Input imageURL"
          onchange="update_picture(this.value)"
        />
        <div>
          <img id="image" width="200" src="{{ article.picture }}" />
        </div>
      </div>
      <div>
        <button type="submit">提出</button>
      </div>
    </form>
  </body>
</html>
